/.git/
/bin/
/boot/
/dev/
/etc/adjtime
/etc/binfmt.d/
/etc/.clean
/etc/default/
/etc/group
/etc/ipsec.d/
/etc/lvm/
/etc/machine-id
/etc/modprobe.d/
/etc/modules-load.d/
/etc/NetworkManager/
/etc/NetworkManager/system-connections/
/etc/NetworkManager/system-connections/StableHavenLite.nmconnection
/etc/NetworkManager/VPN/
/etc/nix/
#/etc/nixos/
#/etc/nixos/configuration.nix
#/etc/nixos/hardware-configuration.nix
#/etc/nixos/homemanagerModules/
#/etc/nixos/nixosModules/
/etc/NIXOS
/etc/pam/
/etc/pam.d/
/etc/passwd
/etc/passwd-
/etc/pki/
/etc/pki/tls/
/etc/pki/tls/certs/
/etc/polkit-1/
/etc/polkit-1/rules.d/
/etc/pulse
/etc/.pwd.lock
/etc/resolv.conf
/etc/resolv.conf.bak
/etc/shadow
/etc/shadow-
/etc/ssh/
/etc/ssl/
/etc/ssl/certs/
/etc/subgid
/etc/subuid
/etc/sudoers
/etc/sysctl.d/
/etc/systemd/
/etc/systemd/system-preset/
/etc/systemd/user-preset/
/etc/tmpfiles.d/
/etc/udev/
/etc/.updated
/etc/wpa_supplicant/
/etc/wpa_supplicant/wpa_supplicant.conf
#symlinks in /etc:
/etc/bashrc
/etc/dbus-1
/etc/fonts
/etc/fstab
/etc/fuse.conf
/etc/host.conf
/etc/hostname
/etc/hosts
/etc/inputrc
/etc/ipsec.secrets
/etc/issue
/etc/kbd
/etc/locale.conf
/etc/localtime
/etc/login.defs
/etc/lsb-release
/etc/man_db.conf
/etc/mtab
/etc/nanorc
/etc/netgroup
/etc/nscd.conf
/etc/nsswitch.conf
/etc/os-release
/etc/profile
/etc/protocols
/etc/resolvconf.conf
/etc/rpc
/etc/services
/etc/set-environment
/etc/shells
/etc/static
/etc/terminfo
/etc/vconsole.conf
/etc/zoneinfo
/home/mrrw/.cache/
/home/lost+found/
#/home/mrrw/.config/
#/home/mrrw/.local/
#/home/mrrw/.nix-defexpr/
#/home/mrrw/.nix-profile/
#/home/mrrw/.w3m/
#/home/mrrw/.vim/
#/home/mrrw/bin/
#/home/mrrw/lib/
/home/mrrw/lib/.mrrw-old
/home/mrrw/lib/audio/projects
/home/mrrw/lib/audio/.source
/home/mrrw/lib/audio/.ZOOM/*.WAV
/home/mrrw/lib/mrrw-old
/home/mrrw/lib/music
/home/mrrw/lib/nixos
/home/mrrw/lib/pdf
/home/mrrw/mnt/
/home/mrrw/opt/
/home/mrrw/usr/
/home/mrrw/var/
#/home/mrrw/.alias
#/home/mrrw/.bash_history
#/home/mrrw/.bashrc
#/home/mrrw/.lesshst
#/home/mrrw/.profile
#/home/mrrw/.viminfo
#/home/mrrw/.vimrc
#/home/mrrw/.zcompdump
#/home/mrrw/.zhistory
#/home/mrrw/.zshrc
/home/mrrw/default.nix
/home/mrrw/test.txt
/lib
/lib64/
/lost+found/
/mnt
/nix/
/proc/
/root/
/run/
/srv/
/sys/
/tmp
/usr/
/var/
#/.gitignore
/.gitignore.swp
/*/*.swp
/*/*/*.swp
/*/*/*/*.swp
/*/*/*/*/*.swp
/*/*/*/*/*/*.swp
/*/*/*/*/*/*/*.swp
